<div class="row">
    <div class="col-md-12">
        <h2>Add Departments</h2>
        <hr />
        <form action="/departments/add" method="POST">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="departmentName">Department Name:</label>
                    <input type="text" name="departmentName" class="form-control" id="departmentName" placeholder="Department Name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Add Department</button>
        </form>
    </div>
</div>